.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 40px 0 20px;
    margin-top: 60px;
}

.footer a {
    color: #8a8a8a;
}

.footer img {
    width: 35px;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-4 {
    text-align: center;
}

.footer-col-4 ul li {
    display: inline-block;
    margin: 0px 10px 10px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}