.navbar {
    background-color: #000;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 7px 10px 8px #888888;

}

.navbar-toggle {
    margin-top: 20px;
}

.menu-bars {
    margin-left: 1.5rem;
    font-size: 2rem;
    background: none;
    color: #fff;
}

.nav-menu {
    background-color: #000;
    width: 200px;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    /* width: 95%; */
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    box-sizing: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
    /* background-color: gold; */
}

.nav-menu.items {
    width: 100%;
}

.navbar.toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}